<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img src="/public/img/logo3.png" alt="">
      </a>
      <h1>用户登录</h1>
    </div>
    <form id="signin-form">
      <div class="form-group">
        <label for="exampleInputEmail1">邮箱</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">密码</label>
        <a class="pull-right" href="">忘记密码？</a>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="checkbox">记住我
        </label>
      </div>
      <button type="submit" class="btn btn-success btn-block">登录</button>
    </form>
    <div class="message">
      <p>没有账号? <a href="/register">点击创建</a>.</p>
    </div>
  </div>

  <!-- 引入jquery -->
  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript">
    $("#signin-form").on("submit",function(e){
      e.preventDefault()
      var formData = $(this).serialize()
      // console.log(formData)
      $.post("/signin",formData,function(msg){
        // console.log(msg)
        switch(msg.code){
          case 1:
            alert("用户名不存在")
            break
          case 2:
            alert("密码不正确")
            break
          case 500:
            alert("服务器错误")
            break
          case 200:
            window.location.href = "/"
            break
        }
      })
    })

  </script>
</body>

</html>
